*{
	background: #f3f3f3;

}
a{
	color: white;
}

a:hover{
	color: green;
}

.userimg{
	
	border-top: 3px red solid;
	background-color: #6D6A69;
}
.userimg img{
	border-radius: 10px;
	align-content: center;
	margin:5px;
}

.username{

	background-color: #6D6A69  ;
	color: white;
    width: 100%;
    float: left;
    display: inline-block;
}

.links ul{
	float: right;
	text-align: left;
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
	background-color:#6D6A69; 
}

.links ul li{
	padding: 5px;
	color: black;
}

.Summary{
	padding: 5px;
	font-family: sans-serif;
	background-color: #f3f3f3;
}
